/* Palette
#009688 green bg
#d7dbd7 gray bg
#ebebeb chat highlith
#f7f7f7 search bar gray
#f0f0f0 chatbox gray
*/

body {
    height: calc(100vh - 30px);
    background-image: linear-gradient(
        to bottom,
        #009688 0 150px,
        #d7dbd7 150px 100%
    );
    background-repeat: no-repeat;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#app {
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 80%;
    min-width: 900px;
    height: 90vh;
    min-height: 300px;
}

#app__col-left {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb ;
}

#app__col-right {
    width: 65%;
    height: 100%;
    background-color: #f7f7f7;
}

.app__col-left__profile-bar,
.app__col-left__chat-list__chat-item {
    display: flex;
    min-height: 70px;
}

.app__col-left__notifications {
    display: flex;
    min-height: 100px;
    background-color: #9de1fe;
}

.app__col-left__chat-list {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #FFFFFF;
}

.app__col-left__chat-list__chat-item {
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #f7f7f7;
}

.app__col-left__chat-list__chat-item:last-child {
    border-color: transparent;
}

.app__col-left__chat-list__chat-item:hover{
    background-color: #e0e0e0;
}

.app__col-left__chat-list__chat-item__item-text {
    flex-grow: 1;
}

.app__col-left__chat-list__chat-item img,
.app__col-left__chat-list__chat-item__item-text,
.app__col-left__chat-list__item-time {
    margin: 0 10px;
}

.app__col-left__profile-bar,
.app__col-left__search-bar,
.app__col-left__chat-list {
    border-right: 1px solid #CCC;
}