/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts LATO Bold, Regular, Thin */

@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap);

body {
    font-family: 'Lato', sans-serif;
}

i {
    font-size: 1.2em;
}

a,
span {
    font-size: .8em;
}

h2 {
    font-size: 1em;
}

i,
#app__col-left span,
#app__col-right span {
    color: #919191;
}

.app__col-left__notifications__caption-zone__bell i {
    color: #9de1fe;
    font-size: 1.5em;
}

.app__col-left__search-bar__search-wrapper i {
    font-size: .8em;
}

#app__col-right span.message__body {
    color: #000000;
    margin-left: 10px;
}

#app__col-right span.message__time {
    font-size: .6em;
    text-align: right;
}