/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts LATO Bold, Regular, Thin */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

i {
    color: #919191;
}

