/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts LATO Bold, Regular, Thin */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

#app__col-left span,
i {
    color: #919191;
}

.app__col-left__notifications__caption-zone__bell i {
    color: #9de1fe;
}

.app__col-left__notifications__caption-zone__bell {
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
}